<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="Panda Print"
    Language="1033"
    Version="1.0.0.0"
    Manufacturer="The Trashed Panda"
    UpgradeCode="AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA">

    <Package
      InstallerVersion="200"
      Compressed="yes"
      InstallScope="perMachine"
      Description="A PandaSuite Application by The Trashed Panda" />

    <Media Id="1" Cabinet="Panda Print.cab" EmbedCab="yes" />

    <Icon Id="icon.ico" SourceFile="$(var.SourceDir)\Panda Print.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of [ProductName] is already installed."
      AllowDowngrades="no" />

    <InstallScope="perMachine" />
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="PandaSuite">
        <Directory Id="APPFOLDER" Name="Panda Print" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" Name="Desktop" />

    <StandardDirectory Id="ProgramMenuFolder" Name="Programs">
      <Directory Id="MENUDIR" Name="PandaSuite" />
    </StandardDirectory>

    <Feature Id="ProductFeature" Title="Panda Print" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="StartMenuShortcut" />
      <ComponentRef Id="RegistryEntries" />
    </Feature>

    <DirectoryRef Id="APPFOLDER">
      <Component Id="MainExecutable" Guid="BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB">
        <File
          Id="PandaPrintEXE"
          Source="$(var.SourceDir)\Panda Print.exe"
          KeyPath="yes"
          Checksum="yes" />
        <File Id="IconFile" Source="$(var.SourceDir)\Panda Print.ico" />
        <File Id="ConfigFile" Source="$(var.SourceDir)\config.json" />
        <File Id="PandaSuiteApiFile" Source="$(var.SourceDir)\panda_suite_api.py" />
        <!-- Add other required files here -->

        <RegistryKey Root="HKLM" Key="Software\The Trashed Panda\Panda Print" ForceCreateOnInstall="yes">
          <RegistryValue Type="string" Name="InstallPath" Value="[APPFOLDER]" />
          <RegistryValue Type="string" Name="Version" Value="1.0.0" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="CCCCCCCC-CCCC-CCCC-CCCC-CCCCCCCCCCCC">
        <Shortcut
          Id="DesktopShortcut"
          Name="Panda Print"
          Target="[APPFOLDER]Panda Print.exe"
          Icon="icon.ico"
          IconIndex="0"
          WorkingDirectory="APPFOLDER" />
        <RemoveFolder Id="DesktopFolder" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\The Trashed Panda\Panda Print"
          Name="DesktopShortcut"
          Value="1"
          Type="integer" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="MENUDIR">
      <Component Id="StartMenuShortcut" Guid="DDDDDDDD-DDDD-DDDD-DDDD-DDDDDDDDDDDD">
        <Shortcut
          Id="StartMenuShortcut"
          Name="Panda Print"
          Target="[APPFOLDER]Panda Print.exe"
          Icon="icon.ico"
          WorkingDirectory="APPFOLDER" />
        <RemoveFolder Id="MENUDIR" On="uninstall" />
        <RemoveFolder Id="ProgramMenuFolder" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\The Trashed Panda\Panda Print"
          Name="StartMenuShortcut"
          Value="1"
          Type="integer" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="APPFOLDER">
      <Component Id="RegistryEntries" Guid="EEEEEEEE-EEEE-EEEE-EEEE-EEEEEEEEEEEE">
        <RegistryKey Root="HKCU" Key="Software\The Trashed Panda\Panda Print" ForceCreateOnInstall="yes">
          <RegistryValue Type="string" Name="AppName" Value="Panda Print" />
          <RegistryValue Type="string" Name="Version" Value="1.0.0" />
          <RegistryValue Type="string" Name="PandaSuite" Value="yes" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" Overridable="yes" />
    <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" Overridable="yes" />
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" Overridable="yes" />

  </Product>
</Wix>
